@tailwind base;
@tailwind components;
@tailwind utilities;

/* =============================================================
Utilities
============================================================= */

@layer utilities {
  .min-h-screen-svh {
    min-height: 100svh;
  }
}

/* =============================================================
Custom classes (c-prefixied)
============================================================= */

@layer components {
  .c-input-ring {
    @apply
      ring-black/10
      ring-1
      outline-none
      rounded
      focus-visible:ring-black/80
      focus-visible:ring-2;
  }

  .c-input-placeholder {
    @apply
      placeholder:text-black/50;
  }
}

/* =============================================================
Custom scrollbar in Chrome, Edge and Safari
============================================================= */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(64, 64, 64);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
}